/* Paul Richardson Fall 2021 */



body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  font-size: 21px;
  line-height: 2;

}

h1 {
  font-size: 5.625rem;
  font-family: "Montserrat-Black";
  color: #8c5c34;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #7b946c;
  font-weight: normal;
  padding-bottom: 10px;
}


img {
  width: auto;
  height: 50%;
}

tr:hover {
  background-color: #abc89f;
}

a {
  color: #8c5c34;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

td, th  {
  text-align: center;
}


#top-container {
  background-color: #abc89f;
  text-align: center;

}

#top-row {
  padding: 10% 5% 0% 0%;
}

#middle-container {
  padding: 3% 3%;
}

#bottom-container {
  background-color: #abc89f;
  padding: 50px 0 20px;
}


}

#calculator, #results {
  padding: 3% 5%;
}



.disp-values {
  /* font-size: 25px; */
  color: green;
  line-height: 2px;
}



.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #7b946c;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.copyright {
  color: #EAF6F6;
  font-size: 1rem;
  padding: 20px 0;
  text-align: center;
}


@media only screen and (max-width: 1000px) {


  /* p, label, body, span {
    font-size: 1.25em;
    text-align: center;
  } */

  h2, h3 {
     font-size: 1.25em;
     text-align: center;
  }

  img {
    display: none;
  }

  td:not(:nth-child(1), :nth-child(2), :nth-child(5)) {
    display: none;
  }

  th:not(:nth-child(1), :nth-child(2), :nth-child(5)) {
    display: none;
  }

  button {
    font-size: 50px;
    padding-bottom: 10px;
  }

  #calculator {
    font-size: 3ex;
    text-align: center;    
  }

  #displayCalc {
    font-size: 2.25em;
  }

  #top-container {
    background-color: #abc89f;
    /* padding: 20%; */
  }

#title {
  font-size: 2.50em;
}

#formula {
  font-size: 10px;
}

  .footer-link {
    display: none;
  }

  #bottom-container {
    background-color: #abc89f;
    padding: 25px 0 20px;
  }

  .slider::-webkit-slider-thumb {
    width: 50px;
    height: 50px;
  }

}
